#map {
	border-bottom: solid #c3c3c3 2px;
	border-right: solid #c3c3c3 2px;
	background-size: 15px 15px;
    background-image:
    	linear-gradient(
    		to right,
    		#c3c3c3 2px,
    		transparent 2px
    		),
    	linear-gradient(
    		to bottom,
    		#c3c3c3 2px,
    		transparent 2px
    		);


}
